{% extends 'back.html.twig' %}

{% block content %}
<center>
    <h1>Demande creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('demande_index_back') }}">Back to the list</a>
        </li>
    </ul>
</center>
{% endblock %}
