{% extends 'back.html.twig' %}
{% block content %}
    <link href={{ asset('bootstrap/bootstrap.min.css') }} rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
{{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
<input type="submit" value="modifier" />
{{ form_end(edit_form) }}
</div>
</div>
{% endblock %}